{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <footer>
      <div class="footer_content">
        <div class="pages">
          <ul>
            <li>
              <a href="{% url 'index' %}"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}"><i class="fa-solid fa-address-book"></i>About</a>
            </li>
            <li>
              <a href="{% url 'contact' %}"><i class="fa-solid fa-id-card-clip"></i>Contact</a>
            </li>
            <li>
              <a href="{% url 'templates' %}"><i class="fa-solid fa-table-list"></i>Templates</a>
            </li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li>
              <a href="https://www.youtube.com/channel/UCQ_9izF0PG1BWzZWI0xucNw"><i class="fa-brands fa-youtube"></i>YouTube</a>
            </li>
            <li>
              <a href="https://www.facebook.com/watch/Coding-With-Satyam-104218075551903/"><i class="fa-brands fa-facebook"></i>Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/S_Programmer1"><i class="fa-brands fa-twitter"></i>Twitter</a>
            </li>
            <li>
              <a href="https://github.com/codingwithsatyam"><i class="fa-brands fa-github"></i>Github</a>
            </li>
          </ul>
        </div>
        <div class="footer_logo">
          <a href="#">CodeRatic</a>
        </div>
      </div>
    </footer>
  </body>
</html>
