@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,700;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 80px;
  width: 100%;
  z-index: 999;
}
.logo {
  margin: 20px;
}
.logo a {
  color: #6610f2;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
nav ul {
  margin: 15px;
  margin-right: 50px;
  z-index: 999;
}
nav ul li {
  display: inline-block;
  margin: 10px;
}
nav ul li .active {
  color: rgb(0, 102, 255);
}
nav ul li a {
  color: #6610f2;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #6f42c1;
}
.menu {
  display: none;
  opacity: 0;
}
.closeMenu {
  display: none;
  opacity: 0;
}
/* Home Page style */
.container {
  height: 100vh;
  text-align: center;
  background-position: center;
}
.wrapper {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  margin-top: 25vh;
  z-index: -1;
}
.wrapper img {
  width: 150px;
}
.wrapper h1 {
  margin-top: -30px;
  font-size: 100px;
  font-family: "Ubuntu", sans-serif;
}
.wrapper p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.btn {
  margin: 30px;
}
.btn a {
  padding: 10px 20px;
  background: crimson;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
/* Post Section Style */
.post_container {
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
.post {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px;
}
.content {
  width: 25%;
  margin: 50px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  background: #f2f2f2;
}
.content img{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 10px auto;
  display: block;
}
.content h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
.btn1 a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  nav {
    position: fixed;
    display: list-item;
    background: #fff;
    height: 80px;
    width: 100%;
  }
  nav ul {
    position: absolute;
    text-align: center;
    box-shadow: rgba(96, 102, 107, 0.2) 0px 8px 24px;
    height: 60vh;
    width: 110%;
    top: 65px;
    left: -1000px;
    background: #fff;
    transition: all 0.5s ease;
    z-index: 99;
  }
  nav ul.add {
    left: -20px;
  }
  nav ul li {
    display: list-item;
    margin-top: 40px;
    list-style: none;
  }
  nav ul li a {
    font-size: 25px;
    text-decoration: none;
    padding: 5px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  .menu {
    position: absolute;
    display: block;
    top: 20px;
    right: 50px;
    font-size: 30px;
    opacity: 1;
    cursor: pointer;
  }
  .closeMenu {
    position: absolute;
    top: 20px;
    right: 50px;
    opacity: 1;
    font-size: 30px;
    cursor: pointer;
  }
}
@media (max-width: 450px) {
  .wrapper img {
    width: 100px;
  }
  .wrapper h1 {
    margin-top: -30px;
    font-size: 80px;
    font-family: "Ubuntu", sans-serif;
  }
  .wrapper p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  .btn {
    margin: 30px;
  }
  .btn a {
    padding: 10px 20px;
    background: crimson;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .wrapper img {
    width: 80px;
  }
  .wrapper h1 {
    margin-top: -20px;
    font-size: 60px;
    font-family: "Ubuntu", sans-serif;
  }
  .wrapper p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 300px) {
  .wrapper img {
    width: 60px;
  }
  .wrapper h1 {
    margin-top: -10px;
    font-size: 40px;
    font-family: "Ubuntu", sans-serif;
  }
  .wrapper p {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
  }
  .btn {
    margin: 10px;
  }
  .btn a {
    padding: 5px 10px;
    background: crimson;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
}

/* Welcome to github */

.hello{
  height: 1px;
}